<div class="form-row mb-3">
  <textarea type="text" row="2" class="form-control burg" name="burger1" disabled>{{id}}. {{burger_name}}</textarea>
  <button class="btn btn-primary ml-4 mt-2 devour-burger" data-id="{{id}}">Devour It!</button>
</div>